{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAIICT Interiew Experiences</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>

    <div class='centered'>DA-IICT Interview Experiences</div>
    <button type="button" class='idea'><a href="login/">Login</a></button>
    <button type="button" class='idea2'><a href="register/">Register</a></button>
</body>
</html>